<p>
  <strong>Appointment date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @appointment.doctor.name %>
</p>
<p>
  <strong>Doctor specialty:</strong>
  <%= @appointment.doctor.specialty.name %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @appointment.patient.name %>
</p>
